<h1>User Display Page View</h1>
Required functionality:
<ul>
  <li>Display a users details</li>
  <li>- Click to edit user if superadmin</li>
  <li>- Click to suspend user if superadmin</li>
  <li>- Click to delete user if superadmin</li>
</ul>

Forename : <%= @user.forename %><br />
Surname : <%= @user.surname %><br />
Alias : <%= @user.alias %><br />
Email : <%= @user.email %><br />
Password : <%= @user.password %><br />


<br />
<h2>Find me in app/views/users/show.html.erb</h2>

